	*{
	margin:0; padding: 0;
}

body{
/*	padding-top: 20px;
*/	font-family: 'Raleway', sans-serif;
	background: #ecf0f1;

}

.container,
.project-container{
	width: 100%;
	margin: 0 auto;
	background: #1abc9c;
	top: 0;
}

.container{
	margin-bottom: 1em;
}

a:link, a:visited {
	color: #eee;
	text-decoration: none;
}

a:hover{
	color: #444;
}

p{
	line-height: 30px;
}

ul{
	width: 100%;
	margin: 0 auto;
	float: left;
	margin-top: 1em;
}

li{
	text-decoration: none;
	list-style: none;
	/*width: 90%;*/
	margin: 0 auto;
	margin-left: 1em;
}

.project{
	position: relative;
	width: 19.2%;
	float: left;
	background: #1abc9c;
/*	padding: 40px 0 40px 0;
*/	text-align: center;
	margin: .2em;
}

.project a{
	position: absolute;
    width: 100%;
    height: 100%;
/*    top: 35px;
*/    left: 0;
    z-index: 10;
    vertical-align: middle;
    line-height: 22px;
    font-size: 14px;
    text-align: left;
    margin-left: 1em;
}

.caption{
	width: 100%;
	height: 3em;
	background: #1abc9c;
	position: relative;
}

.menu{
	list-style: none;
	width: 60%;
	margin: 0 auto;
}

.logo img{
	width: 100%;
	float: left;
}

.logo{
	float: left;
	width: 12%;
	margin-left: 1em;
	margin-top: 0.5em;
}

.form{
	width: 500px;
	margin: 0 auto;
}

.add, 
.delete {
	position: relative;
	width: 30%;
	float: left;
	background: #e74c3c;
	padding: 25px 0 25px 0;
	text-align: center;
	margin: .5em;
}

.add a,
.delete a{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 15px;
    left: 0;
    z-index: 10;
    vertical-align: middle;
    line-height: 22px;
    font-size: 14px;
    color: #fff;
}

.add a:hover,
.delete a:hover{
	color: #444;
}
h4{
	font-size: 24px;
	text-align: center;
}


h5{
	font-size: 16px;
	text-align: center;
}


.form{
	background: transparent;
	border: none;
	font-size: 18px;
	font-weight: lighter;
	color: #eee !important;
	font-family: 'Raleway', sans-serif;
}

input:focus,
textarea:focus{
	outline: none;
	background: transparent;
}

input::-webkit-input-placeholder {
	color: #eee;
	font-weight: lighter !important;
	border-bottom: 1px solid #2c3e50;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;

}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: #2c3e50;
	font-weight: lighter !important;
	font-size: 18px;
	border-bottom: 1px solid #2c3e50;
	font-family: 'Raleway', sans-serif;
}

.description{
	width: 500px;
	height: 80px;
	border: 1px solid #2c3e50;
	padding: 5px;
	font-family: 'Raleway', sans-serif !important;
	background: #16a085;
	font-size: 18px;
	color: #eee !important;
	resize: none;
	margin-top: 20px;
}

/*textarea:active::-webkit-textarea-placeholder,
textarea:focus::-webkit-textarea-placeholder,
textarea::-webkit-textarea-placeholder,{
	color: #eee !important;
}
*/
.submit{
	background: #e74c3c;
	font-size: inherit;
	border: none;
	font-family: inherit;
	font-weight: lighter;
	display: inline-block;
	width: 500px;
	padding: 10px 0;
	color: #fff;
	margin-bottom: 20px;
}

#cancel{
	background-image: url('../img/cancel-hover.png');
	width: 24px;
	height: 24px;
	float: right;
	margin: 20px;
}

#cancel:hover{
	background-image: url('../img/cancel.png');
}

.options{
	width: 300px;
	margin: 0 auto;
	margin-top: 1em;
}

.options select{
	font-family: 'Raleway', sans-serif !important;
	text-align: center;
	width: 250px;
	font-size: 22px;
	-webkit-appearance: none;
	border: 0;
	background: transparent;
	border-bottom: 1px solid #2c3e50;
	color: #eee;
	margin-bottom: 20px;
}

.options select:focus{
	outline: none;
}

.options select:hover{
	color: #444;
}

.options select option{
	font-family: 'Raleway', sans-serif !important;
	font-size: 22px;
	-webkit-appearance: none !important;
	border: 0;
	background: transparent;

}


.video{
	background: transparent;
	border: none;
	font-size: 18px;
	line-height: 22px;
	font-weight: lighter;
	color: #eee !important;
	font-family: 'Raleway', sans-serif;
	width: 460px;
}


.video::-webkit-input-placeholder {
	color: #eee;
	font-weight: lighter !important;
	border-bottom: 1px solid #2c3e50;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;

}

.video:active::-webkit-input-placeholder ,
.video:focus::-webkit-input-placeholder {
	color: #2c3e50;
	font-weight: lighter !important;
	font-size: 18px;
	border-bottom: 1px solid #2c3e50;
	font-family: 'Raleway', sans-serif;
}

h6{
	text-align: center;
	font-size: 12px;
	color: #2c3e50;
	line-height: 24px;
	margin: 0 auto;
	font-weight: bold;
	margin-bottom: 12px;
}


.project-description{
	width: 90%;
	float: left;
	line-height: 22px;
	font-size: 12px;
	color: #444;
	margin: 0 0 20px 20px;

}

.back{
	padding: 10px;
	font-size: 12px;
	margin-bottom: 0;
}

/*.back a{
	color: #444;
}

.back a:hover{
	color: #1abc9c;
}*/

.videowrapper{
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;
	margin: 0 auto;
}

/*.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/

.container,
.project-container{
	
}

.itemcontainer{
	width: 800px;
	margin: 0 auto;
	background: #ecf0f1;
	top: 0;
	height: 100%;
	padding: 20px;
	}

.itemheading{
	float: left;
	margin: 0 0 10px 20px;
	color: #444;
	font-size: 14px;
	width: 90%;
	text-align: left;
}


.project img{
	 width: 100%;
    height: auto;
    max-width: 100%;
}