/*----------------Tablet ----------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-content {
    top: 50%;
  }

  .playbutton {
    top: 17%;
  }

  .nav a {
    display: block;
    text-align: center;
    font-size: 1.1em;
    font-weight: 500;
  }

  .about {
    margin-left: 5% !important;
  }

  .about-text {
    width: 100% !important;
  }

  .contact_container .content_text {
    margin-left: 24%;
    width: 55%;
    padding-top: 0;
  }
  .contact_container .content_text .phone, .contact_container .content_text .address {
    margin-left: 15%;
  }

  .map {
    display: block;
    width: 90% !important;
  }

  .thm_first_column,
  .thm_second_column,
  .thm_third_column,
  .thm_fourth_column {
    width: 24%;
  }

  .career_bakery_photo {
    width: 36%;
    margin-left: 0;
  }

  .career_container .content_text {
    width: 50%;
    margin-bottom: 2.0em;
    margin-top: 0;
  }
}
/*----------------Mobile ----------------*/
@media screen and (max-width: 767px) {
  .page-content {
    top: 28%;
  }

  .playbutton {
    top: 10%;
    left: 40%;
  }

  .nav a {
    display: block;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
  }

  h2 {
    font-size: 1.25em !important;
  }

  .about {
    margin-left: 5% !important;
  }

  #about {
    width: 80%;
  }
  #about .about {
    margin-left: 5% !important;
  }
  #about .about-text {
    width: 100% !important;
  }
  #about .about-image {
    width: 80% !important;
    margin: 0 0 1em 3em !important;
  }
  #about .about-image img {
    width: 90%;
  }

  .thm_first_column,
  .thm_second_column,
  .thm_third_column,
  .thm_fourth_column {
    display: inline-block;
    width: 100%;
  }

  .career_bakery_photo {
    width: 100%;
    display: block;
    margin: auto;
  }

  .career_container .content_text {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 2.0em;
  }

  #contact {
    width: 80%;
  }
  #contact .map {
    display: block;
    width: 90% !important;
    float: left;
  }
  #contact .contact_container .content_text {
    width: 72%;
    padding-top: 0;
  }

  #footer {
    width: 80%;
  }
  #footer .links {
    width: 100%;
  }
  #footer .logo-image {
    float: none;
  }
  #footer .logo-image img {
    float: none !important;
    padding-top: 0 !important;
  }
}
